:root {
    --font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --brand-color : #e26e02;
    --darker-brand-color : #ffbb7b;
    --controls-background-color: rgba(226,110,2,.5);
    --neutral-darker-background-color: rgba(0,0,0,.25);
    --neutral-darker-controls-background-color: rgba(0,0,0,.85);
    --current-theme-sub-color: white;
    --current-theme-fade-color: whitesmoke;
    --current-theme-inverse-sub-color: black;
    --loader-url: url('../assets/icons/two-balls-white.gif');
}

html {
    scroll-behavior: smooth;
    background-color: var(--darker-black);
}

*,*::after,*::before {
    box-sizing: border-box;
    font-family: var(--font-family);
    font-kerning: normal;
}

img, button, a {
    -webkit-user-select: none;
    user-select: none;
}

img {
    color: transparent;
    min-width: 100%;
    min-height: 100%;
    background: center/cover no-repeat url('../assets/icons/movie-tape.png'), black;
}

*:focus-visible {
    outline: 2px solid var(--brand-color);
    outline-offset: .225rem;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(10, 10, 10);
    min-height: 300vh;
}

video {
    width: 100%;
}

.container {
    position: relative;
    padding-top: 50px;
}

.video-container {
    --controls-size: 25px;
    --neutral-darker-controls-bg-color: transparent;
    --captions-size: calc(var(--controls-size)/1.2);
    position: relative;
    width: 90dvw;
    max-width: 700px;
    max-height: 80lvh;
    display: flex;
    justify-content: center;
    margin-inline: auto;
    background-color: black;
    border-radius: calc(var(--controls-size)/1.5);
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
}

.video-container svg path{
    fill: var(--current-theme-sub-color);
}

.video-container svg {
    width: var(--controls-size);
    height: var(--controls-size);
}

:where(button) {
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    height: var(--controls-size);
    width: var(--controls-size);
    font-size: calc(var(--controls-size)/1.5); 
    opacity: .85;
    transition: opacity 150ms ease-in-out;
}

:where(button):hover {
    opacity: 1;
    cursor: pointer;
}

.main-play-pause-btn, .replay-btn {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    top: 50%;
    translate: 0 -50%;
    background: var(--controls-background-color);
    z-index: 1;
}

.main-play-pause-btn {
    position: absolute;
    width: calc(var(--controls-size)*2.5);
    height: calc(var(--controls-size)*2.5);    
    opacity: 0;
}

.main-play-pause-btn svg {
    transform: scale(2);
}

.replay-btn {
    width: calc(var(--controls-size)*3.75);
    height: calc(var(--controls-size)*3.75);
    color: var(--current-theme-sub-color);
}

.replay-btn svg {
    transform: scale(2);
}

.video-container.replay .replay-btn {
    display: flex;
}

.video-container.mini-player {
    --controls-size: 22px;
    --mouse-x: 7.5px;
    --mouse-y:  7.5px;
    position: fixed;
    right: var(--mouse-x);
    bottom: var(--mouse-y);
    z-index: 5;
    min-height: 150px;
    width: clamp(5rem, 50dvw, 400px)!important;
    border-radius: calc(var(--controls-size)/1.5)!important;
    transform: translateX(100%);
    opacity: 0;
    animation: tmp .25s ease forwards;  
}
@keyframes tmp {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.video-container.mini-player .buffer-container {
    scale: .5;
}

.video-container.mini-player .notifiers {
    --controls-size: 25px;
    z-index: 2;
}

.video-container.mini-player .controls {
    gap: 10px;
    padding: calc(var(--controls-size)/5) calc(var(--controls-size)/7.5);
}

.video-container.mini-player .mini-player-expand-btn-wrapper, 
.video-container.mini-player .mini-player-cancel-btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: calc(var(--controls-size)*2.5);
    aspect-ratio: 1 / 1;
    opacity: 0;
    color: var(--current-theme-sub-color);
    top: 0;
    z-index: 2;
}

.video-container.mini-player .mini-player-expand-btn-wrapper {  
    left: 0;
    border-radius: 0 0 calc(var(--controls-size)/1.5) 0;
}

.video-container.mini-player .mini-player-cancel-btn-wrapper {
    right: 0;
    border-radius: 0 0 0 calc(var(--controls-size)/1.5);
}

.mini-player-expand-icon {
    transform: rotate(90deg);
}

.video-container.mini-player .replay-btn {
    width: calc(var(--controls-size)*2.5);
    height: calc(var(--controls-size)*2.5);
}

.video-container.mini-player .replay-btn, .video-container.mini-player .main-play-pause-btn {
    z-index: 2;
}

.video-container.mini-player .replay-btn svg {
    transform: scale(1.75);
}

.video-container.mini-player .main-play-pause-btn {
    display: flex;
}

.video-container.mini-player .video-controls-container::before {
    aspect-ratio: 1 / 1;
    background: var(--neutral-darker-controls-bg-color);
    opacity: .75;
}

.video-container.mini-player.scrubbing {
    --neutral-darker-controls-bg-color: transparent!important;
}

.video-container.mini-player.hover:hover:has(.timeline-container:hover) .mini-player-expand-btn-wrapper, 
.video-container.mini-player.hover:hover:has(.timeline-container:hover) .mini-player-cancel-btn-wrapper,
.video-container.mini-player.hover:hover:has(.timeline-container:hover) .main-play-pause-btn, 
.video-container.mini-player.hover:hover:has(.timeline-container:hover) .replay-btn, 
.video-container.mini-player.scrubbing .mini-player-expand-btn-wrapper, 
.video-container.mini-player.scrubbing .mini-player-cancel-btn-wrapper
.video-container.mini-player.scrubbing .main-play-pause-btn,
.video-container.mini-player.scrubbing .replay-btn {
    opacity: 0!important;
}

.video-container.mini-player .preview-img-container {
    height: calc(var(--controls-size)*3.75);
}

.video-container.mini-player .speed-notifier {
    font-size: calc(var(--controls-size)/1.6);
}

.video-container.mini-player .speed-notifier::after {
    background-size: calc(var(--controls-size)/4.25);
    width: calc(var(--controls-size)/2.1);
}

.video-container.mini-player .fwd-notifier::after, 
.video-container.mini-player .bwd-notifier::after {
    content: attr(data-skip);
    margin-inline: calc(var(--controls-size)/2.5);
    font-size: calc(var(--controls-size)/2.25);
}

.video-container.mini-player .fwd-notifier.persist svg, 
.video-container.mini-player .bwd-notifier.persist svg {
    scale: 1.5;
}

.mini-player-expand-btn-wrapper, 
.mini-player-cancel-btn-wrapper {
    display: none;
}

.video-container.buffer .replay-btn,
.video-container.replay .pause-notifier, 
.video-container.buffer .main-play-pause-btn,
.video-container.scrubbing .main-play-pause-btn,
.video-container.replay .main-play-pause-btn, 
.video-container.mini-player .play-pause-btn,
.video-container.mini-player .volume-slider::before,
.video-container.mini-player .play-notifier, 
.video-container.mini-player .pause-notifier {
    display: none!important;
}

.video-container.mini-player .volume-slider::after {
    top: calc(var(--controls-size)/3);
}

.video-container.theater,
.video-container.full-screen {
    border-radius: 0;
    width: 100%;
    max-width: unset;
}

.video-container.theater .preview-img-container,
.video-container.full-screen .preview-img-container {
    border-radius: 0;
}

.video-container.theater {
    max-height: 90lvh;
}

.video-container.full-screen {
    --controls-size: 30px;
    max-height: 100lvh;
}

.video-container.full-screen .controls {
    gap: calc(var(--controls-size)/1.2);
}

.video-container.buffer .buffer-container {
    display: flex;
}

.buffer-container {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    pointer-events: none;
    opacity: .85;
    background: var(--loader-url) no-repeat center center/calc(6lvh + 6dvw); 
    animation: ball_one 1s infinite ease-in-out;
}

.ground-buffer {
    position: absolute;
    width: calc(3lvh + 3dvw);
    height: calc(3lvh + 3dvw);
    background: var(--loader-url) no-repeat center center;
    animation: balls_two 1s infinite ease-in-out;
    background-size: 100%;
}

.middle-buffer {
    position: absolute;
    width: calc(3lvh + 3dvw);
    height: calc(3lvh + 3dvw);
    transform: rotate(90deg);
    background: var(--loader-url) no-repeat center center;
    animation: balls_two 1s infinite ease-in-out;
    background-size: 100%;
}

.top-buffer {
    position: absolute;
    width: calc(6lvh + 6dvw);
    height: calc(6lvh + 6dvw);
    transform: rotate(90deg);
    background: var(--loader-url) no-repeat center center;
    animation: ball_three 1s infinite ease-in-out;
    background-size: 100%;
}

@keyframes ball_one{
    to{
       background-size: calc(3lvh + 3dvw);
    }
}
@keyframes balls_two{
    to{
      width: calc(6lvh + 6dvw);
      height: calc(6lvh + 6dvw);
    }
}
@keyframes ball_three{
    to{
      width: calc(3lvh + 3dvw);
      height: calc(3lvh + 3dvw);
    }
}

.video-controls-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    pointer-events: none;
    transition: opacity 150ms ease-in-out;
}

.video-controls-container > *:not(.timeline-container) {
    opacity: 0;
}

.video-controls-container::before {
    content: "";
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, var(--neutral-darker-controls-bg-color), transparent);
    width: 100%;
    aspect-ratio: 6 / 1;
    z-index: -1;
    pointer-events: none;
}

.video-container.hover:hover, 
.video-container:has(:focus-visible), 
.video-container.paused, 
.video-container.picture-in-picture {
    --neutral-darker-controls-bg-color: var(--neutral-darker-controls-background-color);
}

.video-container.hover:hover .video-controls-container > *:not(.timeline-container), 
.video-container:has(:focus-visible) .video-controls-container > *:not(.timeline-container), 
.video-container.paused .video-controls-container > *:not(.timeline-container), 
.video-container.picture-in-picture .video-controls-container > *:not(.timeline-container), 
.video-container.hover:hover .main-play-pause-btn,
.video-container.paused .main-play-pause-btn,
.video-container:has(:focus-visible) .main-play-pause-btn,
.video-container.picture-in-picture .main-play-pause-btn {
    opacity: 1;
}

.video-container.hover.mini-player:hover .mini-player-expand-btn-wrapper, 
.video-container.hover.mini-player:hover .mini-player-cancel-btn-wrapper, 
.video-container.mini-player:has(:focus-visible) .mini-player-expand-btn-wrapper, 
.video-container.mini-player:has(:focus-visible) .mini-player-cancel-btn-wrapper, 
.video-container.mini-player.paused .mini-player-expand-btn-wrapper, 
.video-container.mini-player.paused .mini-player-cancel-btn-wrapper {
    opacity: 1;
}

.video-container.movement .video-controls-container > *:not(.timeline-container), 
.video-container.movement .replay-btn, 
.video-container.movement .main-play-pause-btn,
.video-container.movement .mini-player-expand-btn-wrapper, 
.video-container.movement .mini-player-cancel-btn-wrapper,
.video-container.movement video::-webkit-media-text-track-display {
    opacity: 0!important;
}

.video-container.movement .video-controls-container::before {
    --neutral-darker-controls-bg-color: transparent!important;
}

.video-container.movement .timeline-container {
    position: absolute!important;
    bottom: -2px!important;
    width: 100%!important;
    margin-inline: unset!important;
}

.video-container.movement .thumb-indicator {
    --scale: 0!important;
}

.video-controls-container .controls {
    display: flex;
    gap: calc(var(--controls-size)/1.6);
    margin-inline: calc(var(--controls-size)/1.75);
    padding: calc(var(--controls-size)/2.5) calc(var(--controls-size)/5);
    align-items: center;
}

.video-container:not(.replay) .replay-icon {
    display: none;
}

.video-container.replay .pause-icon,
.video-container.paused .pause-icon {
    display: none;
}

.video-container.replay .play-icon,
.video-container:not(.paused) .play-icon {
    display: none;
}

.video-container.theater .controls .tall, 
.video-container:not(.theater) .notifiers .tall {
    display: none;
}

.video-container:not(.theater) .controls .wide, 
.video-container.theater .notifiers .wide {
    display: none;
}

.video-container.picture-in-picture .captions-btn,
.video-container.picture-in-picture .full-screen-btn,
.video-container.picture-in-picture .notifiers-container,
.video-container.picture-in-picture video::-webkit-media-text-track-container {
    display: none;
}

.video-container.mini-player .theater-btn {
    display: none;
}

.video-container.full-screen .controls .open, 
.video-container:not(.full-screen) .notifiers .open {
    display: none;
}

.video-container:not(.full-screen) .controls .close, 
.video-container.full-screen .notifiers .close {
    display: none;
}

.video-container.full-screen .theater-btn {
    display: none;
}

.volume-high-icon,
.volume-low-icon,
.volume-muted-icon {
    display: none;
}

.video-container[data-volume-level = "high"] .volume-high-icon {
    display: block;
}

.video-container[data-volume-level = "low"] .volume-low-icon {
    display: block;
}

.video-container[data-volume-level = "muted"] .volume-muted-icon {
    display: block;
}

.volume-container {
    display: flex;
    align-items: center;
    gap: calc(var(--controls-size)/5);
}

.volume-slider, 
.volume-slider::-webkit-slider-runnable-track,
.volume-slider::-webkit-slider-thumb {
    -moz-appearance: none; 
    -ms-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.volume-slider {
    cursor: grab;
    width: 0;
    transform-origin: left;
    overflow: hidden;
    max-width: calc(var(--controls-size)*2);
    position: relative;
    transition: width 150ms ease-in-out, transform 150ms ease-in-out;
    background: linear-gradient(to right, var(--current-theme-fade-color) calc(var(--volume-percent) * 100%), rgba(100, 100, 100, 0.75) 1%);
    box-shadow: 1px 1px 10px black;
}

.volume-slider.active {
    cursor: grabbing;
}

.volume-slider:focus-visible {
    outline-offset: calc(var(--controls-size)/3.57);
}

.volume-slider::-webkit-slider-runnable-track {
    height: calc(var(--controls-size)/7);
}

.volume-slider::-webkit-slider-thumb {
    background: var(--current-theme-sub-color);
    height: calc(var(--controls-size)/2.35);
    width: calc(var(--controls-size)/2.35);
    position: relative;
    top: calc(var(--controls-size)/-7.5);
    border-radius: 50%;
}

.volume-slider::after {
    content: attr(data-volume);
    position: absolute;
    display: none;
    top: calc(var(--controls-size)/2);
    left: var(--volume-slider-percent);
    width: calc(var(--controls-size)/1.5);
    transform: translateX(-50%);
    border-radius: var(--controls-size);
    background: var(--current-theme-sub-color);
    color: var(--current-theme-inverse-sub-color);
    text-align: center;
    font-size: calc(var(--controls-size)/3);
    font-weight: bolder;
}

.volume-slider::before {
    content: '';
    position: absolute;
    display: none;
    top: calc(var(--controls-size)/4);
    left: var(--volume-slider-percent);
    transform: translateX(-50%);
    border-width: calc(var(--controls-size)/8);
    border-style: solid;
    border-color: transparent transparent var(--current-theme-fade-color) transparent;
}

.volume-container.hover .volume-slider:hover::after, 
.volume-container.hover .volume-slider:hover::before,
.volume-slider:hover:focus-visible::after, 
.volume-slider:hover:focus-visible::before,
.volume-slider:focus-visible {
    display: block;
}

.volume-container.hover:hover .volume-slider,
.volume-slider:focus-visible {
    overflow: visible;
    width: calc(var(--controls-size)*2);
}

.duration-container {
    display: flex;
    align-items: center;
    gap: calc(var(--controls-size)/5);
    flex-grow: 1;
    color: var(--current-theme-sub-color);
    font-size: calc(var(--controls-size)/1.75);
}

.captions-btn {
    position: relative;
}

.video-container .captions-btn::after, 
.captions-notifier::after {
    content: '';
    position: absolute;
    left: 50%;
    translate: -50%;
    height: calc(var(--controls-size)/8.3);
    width: calc(var(--controls-size)/1.25);
    background-color: var(--brand-color);
    transform: scaleX(0);
    transform-origin: center;
    border-radius: calc(var(--controls-size)/16.7);
}

.video-container .captions-btn::after {
    bottom: calc(var(--controls-size)/-12.5);
    transition: transform .25s ease;
}

.video-container .captions-notifier::after {
    bottom: calc(50% - calc(var(--controls-size)/2));
    background-color: black;
}

.video-container.full-screen .captions-btn::after {
    bottom: calc(var(--controls-size)/-7.5);
}

.video-container.captions .captions-btn::after, 
.video-container.captions .captions-notifier::after {
    transform: scaleX(1);
}

video::cue {
    font-size: clamp(.25rem, calc(1.25vmin + 1.5vmax), var(--captions-size));
}

video::-webkit-media-text-track-display {
    -webkit-transform: translateY(calc(var(--controls-size)/-2));
    transform: translateY(calc(var(--controls-size)/-2));
}

video::-webkit-media-text-track-display,
video::-webkit-media-text-track-display-backdrop,
video::-webkit-media-text-track-container {
    overflow: visible;
}

.settings-btn {
    display: none;
}

.video-controls-container .controls button.wide-btn {
    width: fit-content;
    max-width: calc(var(--controls-size)*2);
    color: var(--current-theme-sub-color);
}

.timeline-container {
    cursor: grab;
    position: absolute;
    display: flex;
    align-items: center;
    touch-action: none;
    width: 100%;
    height: calc(var(--controls-size)/4);
    bottom: -2px;
    transition: 300ms ease;
}

.video-container.full-screen .timeline-container {
    bottom: -4px;
}

.video-container.hover:hover .timeline-container, 
.video-container:has(:focus-visible) .timeline-container, 
.video-container.paused .timeline-container, 
.video-container.picture-in-picture .timeline-container {
    position: relative;
    bottom: unset;
    width: unset;
    margin-inline: calc(var(--controls-size)/2);
}

.video-container.hover:hover video::-webkit-media-text-track-display,
.video-container:has(:focus-visible) video::-webkit-media-text-track-display,
.video-container.paused video::-webkit-media-text-track-display {
    -webkit-transform: translateY(calc(var(--controls-size)*-2.5));
    transform: translateY(calc(var(--controls-size)*-2.5));
}

.video-container.mini-player.hover:hover video::-webkit-media-text-track-display,
.video-container.mini-player:has(:focus-visible) video::-webkit-media-text-track-display,
.video-container.mini-player.paused video::-webkit-media-text-track-display {
    -webkit-transform: translateY(calc(var(--controls-size)*-2));
    transform: translateY(calc(var(--controls-size)*-2));
}

.video-container.scrubbing .timeline-container {
    cursor: grabbing;
}

.timeline {
    background-color: rgba(100, 100, 100, .5);
    height: calc(var(--controls-size)/6);
    width: 100%;
    position: relative;
}

.timeline::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: calc(100% - var(--preview-position) * 100%);
    background-color: rgb(150, 150, 150);
    display: none;
}

.timeline::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: calc(100% - var(--progress-position) * 100%);
    background: linear-gradient(to right, var(--brand-color) 80%, var(--darker-brand-color));
}

.timeline .thumb-indicator {
    --scale: 0;
    z-index: 1;
    position: absolute;
    aspect-ratio: 1 / 1;
    height: 200%;
    top: -50%;
    left: calc(var(--progress-position) * 100%);
    background-color: var(--brand-color);
    border-radius: 50%;
    transition: transform 150ms ease-in-out;
    transform: translateX(-50%) scale(var(--scale));
}

.preview-img-container {
    --border-color: var(--current-theme-fade-color);
    position: absolute;
    height: calc(var(--controls-size)*5);
    max-width: 40dvw;
    aspect-ratio: 16 / 9;
    top: calc(var(--controls-size)/-1.5);
    transform: translate(-50%, -100%);
    left: calc(var(--preview-img-position) * 100%); 
    border-radius: calc(var(--controls-size)/1.85);
    border: calc(var(--controls-size)/15) solid;
    border-color: var(--border-color);
    display: none;
    z-index: 2;
    background: var(--controls-background-color);
    pointer-events: none;
}

.video-container.scrubbing .preview-img-container {
    --border-color: var(--brand-color);
}

.timeline .preview-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.preview-img-container::before, .preview-img-container::after {
    transition: border-color 200ms ease;
    display: block;
}

.preview-img-container::before {
    content: '';
    position: absolute;
    top: 100%;
    left: var(--preview-img-arrow-position);
    transform: translateX(-50%);
    border-width: calc(var(--controls-size)/3.25);
    border-style: solid;
    border-color: var(--border-color) transparent transparent transparent;
}

.preview-img-container::after {
    content: attr(data-preview-time);
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    font-size: calc(var(--controls-size)/1.4);
    opacity: .85;
    color: var(--current-theme-sub-color);
    box-shadow: inset calc(var(--controls-size)/2) calc(var(--controls-size)/2) calc(var(--controls-size)/1.5) rgba(0, 0, 0, 0.5), inset calc(var(--controls-size)/-5) calc(var(--controls-size)/-2) calc(var(--controls-size)/1.5) rgba(0, 0, 0, 0.5);
    border-radius: inherit;
    display: flex;
    align-items: end;
    justify-content: center;
    align-items: end;
}

.thumbnail-img {
    --tastey-icon-size: 40%;
    position: absolute;
    top: 50%;
    min-height: unset;
    aspect-ratio: 16 / 9;
    width: 100%;
    transform: translateY(-50%);
    filter: brightness(75%);
    display: none;
}

.video-container.scrubbing .thumbnail-img {
    display: block;
}

.video-container.scrubbing .preview-img-container,
.video-container.hover .timeline-container:hover .preview-img-container {
    display: block;
}

.video-container.scrubbing .timeline::before,
.video-container.hover .timeline-container:hover .timeline::before {
    display: block;
}

.video-container.scrubbing .thumb-indicator,
.video-container.hover .timeline-container:hover .thumb-indicator {
    --scale: 1;
} 

.video-container.scrubbing .timeline,
.video-container.hover .timeline-container:hover .timeline {
    height: 100%;
}

.notifiers-container {
    --transition-time: 500ms;
    --arrows-transition-time: 800ms;
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    pointer-events: none;
}

.notifiers-container, 
.notifiers {
    align-items: center;
    justify-content: center;
}

.notifiers {
    --controls-size: 35px;
    width: calc(var(--controls-size)*2);
    height: calc(var(--controls-size)*2);
    background: var(--controls-background-color);
    position: absolute;
    display: flex;
    opacity: 0;
    transform: scale(1);
    border-radius: 50%;
    color: var(--current-theme-sub-color);
    white-space: nowrap;
    transition: transform var(--transition-time) ease, opacity var(--transition-time) ease;
}
@keyframes beat {
    from, to {
        opacity: 0.85;
        transform: scale(1);
    } 50% {
        opacity: 1;
        transform: scale(1.5);
    }    
}

.volume-notifier-content {
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 10%;
    padding: calc(var(--controls-size)/4) calc(var(--controls-size)/2);
    font-size: calc(var(--controls-size)/1.75);
    border-radius: calc(var(--controls-size)/10);
}

.volume-notifier-content::after {
    content: attr(data-volume) '%';
}

.speed-notifier {
    top: 5%;
    width: fit-content;
    height: fit-content;
    min-width: calc(var(--controls-size)*1.3);
    padding: calc(var(--controls-size)/10) calc(var(--controls-size)/2.5);
    font-size: calc(var(--controls-size)/2.4);
    font-weight: 700;
    border-radius: var(--controls-size);
}

.speed-notifier::after {
    content: '';
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50' height='70' fill='white'><polygon points='0,0 50,35 0,70'/></svg>") 0 center repeat-x;
    background-size: calc(var(--controls-size)/5.9);
    width: calc(var(--controls-size)/3);
    height: calc(var(--controls-size)/2);
    margin-left: calc(var(--controls-size)/5);
}

.speed-notifier.active {
    opacity: 1!important;
}

.fwd-notifier, .bwd-notifier {
    align-items: start;
    transform: scale(1.5);
    transition: none;
}

.video-container {
    --dbc-block-offset: 49%;
    --dbc-tap-offset: -50%;
    --dbc-tap-dimension: clamp(20vw, calc(var(--controls-size)*19), 60vw);
}

.video-container.mini-player {
    --dbc-tap-dimension: clamp(20px, calc(var(--controls-size)*12.5), 34vw)!important;
}

.video-container.theater, 
.video-container.full-screen {
    --dbc-tap-dimension: 65vw;
}

.notifiers-container[data-current-notifier = "fwd"] .fwd-notifier, 
.notifiers-container[data-current-notifier = "bwd"] .bwd-notifier,
.notifiers-container .fwd-notifier.persist, 
.notifiers-container .bwd-notifier.persist {
    transition: opacity var(--dbc-transition-time) ease;
}

.notifiers-container .fwd-notifier.persist, 
.notifiers-container .bwd-notifier.persist {
    opacity: 1;
    width: var(--dbc-tap-dimension);
    height: var(--dbc-tap-dimension);
    padding-inline: var(--controls-size);
} 

.notifiers-container .fwd-notifier.persist {
    right: var(--dbc-tap-offset);
    justify-content: start;
}

.notifiers-container .bwd-notifier.persist {
    left: var(--dbc-tap-offset);
    justify-content: end;
}

.notifiers-container .fwd-notifier.persist svg, 
.notifiers-container .bwd-notifier.persist svg {
    scale: 1.25;
    margin-top: var(--dbc-block-offset);
}

.notifiers-container .fwd-notifier.persist::after, 
.notifiers-container .bwd-notifier.persist::after {
    bottom: var(--dbc-block-offset);
}

.fwd-notifier {
    right: 15%;
}

.bwd-notifier {
    left: 15%;
}

.fwd-notifier::after, 
.bwd-notifier::after {
    content: attr(data-skip) ' seconds';
    position: absolute;
    width: fit-content;
    bottom: 20%;
    font-size: calc(var(--controls-size)/3.4);
}

.fwd-notifier svg,
.bwd-notifier svg {
    opacity: .25;
    margin-top: 20%;
    width: calc(var(--controls-size)/2.25);
    animation: none;
    animation-iteration-count: infinite;
    animation-duration: var(--arrows-transition-time);
}

.notifiers-container[data-current-notifier = "fwd"] .fwd-notifier svg:nth-of-type(1), 
.notifiers-container .fwd-notifier.persist svg:nth-of-type(1), 
.notifiers-container[data-current-notifier = "bwd"] .bwd-notifier svg:nth-of-type(3),
.notifiers-container .bwd-notifier.persist svg:nth-of-type(3) {
    animation-name: arrow-1;
}

.notifiers-container[data-current-notifier = "fwd"] .fwd-notifier svg:nth-of-type(2), 
.notifiers-container .fwd-notifier.persist svg:nth-of-type(2), 
.notifiers-container[data-current-notifier = "bwd"] .bwd-notifier svg:nth-of-type(2),
.notifiers-container .bwd-notifier.persist svg:nth-of-type(2) {
    animation-name: arrow-2;
}

.notifiers-container[data-current-notifier = "fwd"] .fwd-notifier svg:nth-of-type(3), 
.notifiers-container .fwd-notifier.persist svg:nth-of-type(3), 
.notifiers-container[data-current-notifier = "bwd"] .bwd-notifier svg:nth-of-type(1),
.notifiers-container .bwd-notifier.persist svg:nth-of-type(1) {
    animation-name: arrow-3;
}

@keyframes arrow-1 {
    30% {
        opacity: .25;
    }
    60% {
        opacity: 1;
    }
}

@keyframes arrow-2 {
    50% {
        opacity: .25;
    } 
    80% {
        opacity: 1;
    }
}

@keyframes arrow-3 {
    70% {
        opacity: .25;
    } 
    100% {
        opacity: 1;
    }
}

.bwd-notifier svg {
    transform: scaleX(-1);
}

.notifiers-container[data-current-notifier = "videoplay"] .play-notifier, 
.notifiers-container[data-current-notifier = "videopause"] .pause-notifier, 
.notifiers-container[data-current-notifier = "volumeup"] .volume-up-notifier, 
.notifiers-container[data-current-notifier = "volumeup"] .volume-notifier-content,
.notifiers-container[data-current-notifier = "volumedown"] .volume-down-notifier, 
.notifiers-container[data-current-notifier = "volumedown"] .volume-notifier-content,
.notifiers-container[data-current-notifier = "volumemuted"] .volume-muted-notifier, 
.notifiers-container[data-current-notifier = "captions"] .captions-notifier, 
.notifiers-container[data-current-notifier = "speed"] .speed-notifier, 
.notifiers-container[data-current-notifier = "theatre"] .theatre-notifier, 
.notifiers-container[data-current-notifier = "fullScreen"] .full-screen-notifier,
.notifiers-container[data-current-notifier = "fwd"] .fwd-notifier, 
.notifiers-container[data-current-notifier = "bwd"] .bwd-notifier {
    opacity: 1;
} 

.notifiers-container[data-current-notifier = "videoplay"] .play-notifier, 
.notifiers-container[data-current-notifier = "videopause"] .pause-notifier, 
.notifiers-container[data-current-notifier = "volumeup"] .volume-up-notifier, 
.notifiers-container[data-current-notifier = "volumedown"] .volume-down-notifier, 
.notifiers-container[data-current-notifier = "volumemuted"] .volume-muted-notifier, 
.notifiers-container[data-current-notifier = "captions"] .captions-notifier, 
.notifiers-container[data-current-notifier = "theatre"] .theatre-notifier, 
.notifiers-container[data-current-notifier = "fullScreen"] .full-screen-notifier {
    transform: scale(1.5);
}

@media(max-width: 780px) {
    .notifiers {
        --controls-size: 30px;
    }
    .video-container.mini-player, .video-container.mini-player .notifiers {
        --controls-size: 20px;
    }
    .video-container.replay .replay-btn {
        width: calc(var(--controls-size)*3.4);
        height: calc(var(--controls-size)*3.4);        
    }
    .replay-btn svg {
        transform: scale(1.85);
    }
    .video-container.mini-player .speed-btn, 
    .video-container.mini-player .full-screen-btn {
        display: none!important;
    }
    .video-container.mini-player .controls {
        gap: 5px;
    }
    .preview-img-container {
        height: calc(var(--controls-size)*4);
    }
    .video-container.mini-player .preview-img-container {
        height: calc(var(--controls-size)*1.25);
        border: none;
        border-radius: var(--controls-size)!important;
    }
    .video-container.mini-player .preview-img-container::after {
        align-items: center;
        box-shadow: none;
    }
    .video-container.mini-player .preview-img {
        display: none;
    }
    .video-container.mini-player .speed-notifier {
        font-size: calc(var(--controls-size)/1.4);
    }    
}

@media (max-width: 480px), (max-width: 940px) and (max-height: 480px) and (orientation: landscape) {
    .theater-btn,
    .video-container .play-pause-btn,
    .video-container .pause-notifier {
        display: none!important;
    } 
    .video-container {
        border-radius: 0;
        width: 100%;
        max-width: unset;
        --dbc-tap-dimension: 65vw;
    }
    .video-container.replay .replay-btn {
        width: calc(var(--controls-size)*2.5);
        height: calc(var(--controls-size)*2.5);
    }
    .replay-btn svg {
        transform: scale(1.85);        
    }
    .video-container .main-play-pause-btn {
        display: flex;
    }
    .timeline {
        height: calc(var(--controls-size)/5)!important;
    }
    .video-container.hover:hover .thumb-indicator, 
    .video-container:has(:focus-visible) .thumb-indicator, 
    .video-container.paused .thumb-indicator, 
    .video-container.picture-in-picture .thumb-indicator, 
    .video-container.scrubbing .thumb-indicator, 
    .video-container.hover .timeline-container:hover .thumb-indicator {
        --scale: 1.2;
    } 
    .video-container .preview-img-container {
        height: calc(var(--controls-size)*1.25);
        border: none;
        border-radius: var(--controls-size)!important;
    }
    .video-container .preview-img-container::after {
        align-items: center;
        box-shadow: none;
    }
    .video-container .preview-img-container::before {
        --border-color: var(--controls-background-color)!important;
    }
    .video-container .preview-img {
        display: none;
    }
    .notifiers-container .fwd-notifier.persist::after, 
    .notifiers-container .bwd-notifier.persist::after {
        content: attr(data-skip);
        margin-inline: calc(var(--controls-size)/2.5);
        font-size: calc(var(--controls-size)/2.25);
    }
    .speed-notifier {
        font-size: calc(var(--controls-size)/1.4);
    }
    .speed-notifier::after {
        background-size: calc(var(--controls-size)/4.25);
        width: calc(var(--controls-size)/2.15);
    }
}

@media (max-width: 940px) and (max-height: 480px) and (orientation: landscape) {
    .video-container {
        max-height: 90lvh;
    } 
    .notifiers {
        --controls-size: 25px;
    }
}

@media (max-width: 480px) {
    .video-container, 
    .video-container.full-screen, 
    .notifiers {
        --controls-size: 22.5px;
    }
    .video-container.mini-player .controls {
        gap: 2.5px;
    }
    .video-container.mini-player, .video-container.mini-player .notifiers {
        --controls-size: 17px;
    } 
    .video-container .preview-img-container::before {
        display: none!important;
    }
    .video-controls-container .controls, 
    .video-container.full-screen .video-controls-container .controls {
        gap: calc(var(--controls-size)/2);
        margin-inline: calc(var(--controls-size)/2.5);
    }
    .duration-container {
        font-size: calc(var(--controls-size)/1.75);
    }
}

@media (max-width: 350px) {
    .video-container.mini-player .picture-in-picture-btn {
        display: none!important;
    }
}